<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="policyInjection"
                 type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 requirePermission="true" />
    </configSections>
    <policyInjection>
        <policies>
            <add name="KeLi.HelloPIAB">
                <matchingRules>
                    <!--<add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.CustomAttributeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                        attributeType="KeLi.HelloPIAB.CustomAopAttribute, KeLi.HelloPIAB, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                        name="CustomAopAttribute" />-->

                    <!--<add type="KeLi.HelloPIAB.CustomAopMatchRule, KeLi.HelloPIAB, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                        name="Test" parameterName="content" />-->
                </matchingRules>
                <handlers>
                    <add type="KeLi.HelloPIAB.CustomAopCallHandler, KeLi.HelloPIAB, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                         name="CustomAopCallHandler" runMode="Debug" />
                </handlers>
            </add>
        </policies>
    </policyInjection>
</configuration>